html, body {
  background: #000;
  width: 100vw;
  height: 100vh;

  margin: 0px;
  padding: 0px;

  overflow: hidden;
}

.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#mobile-controls {
  
}
#mobile-controls button {
  width: 50px;
  height: 50px;

  background: #000;
  border: 1px solid #FFF;
  color: #FFF;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#mobile-controls > * {
  position: fixed;
  bottom: 20px;
}

#mobile-controls .control-movement-left {
  left: 20px;
}
#mobile-controls .control-movement-right {
  right: 20px;
}
/* #mobile-controls .control-movement .movement-up {
  display: block;
  margin: 0 auto 3px;
} */
#mobile-controls .control-interaction {
  right: 20px;
}

canvas {
  background: #000;
  width: 100vw;
  height: 100vh;

  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}